

<html>
  <head>
    <meta charset="UTF-8" />
    <title>Edit Dog</title>
  </head>
<body>
  <h1>Edit Your Dog </h1>
  <p> Current Dog Details: </p>


<P>  <%= @dog.name %> </P>
<P>  <%= @dog.breed %> </P>
<P>  <%= @dog.age %> </P>
<P>  <%= @dog.shelter %> </P>

  
  <form method="post" action="/dogs/<%=@dog.id%>">
    
    
    <input type="hidden" name="_method" value= 'patch'>
 <input type="hidden" name="_method" value='patch'>
   
   <table>
      <tr>
       <td><label for="name"> Name:</label> </td> 
       <td><input type= "text" name="name"> </td> 
      </tr>
      <tr>
       <td><label for="age"> Age:</label> </td> 
       <td><input type= "text" name="age"> </td> 
      </tr>
      <tr>
       <td><label for="shelter"> Shelter:</label> </td> 
       <td><input type= "text" name="shelter"> </td> 
      </tr>
      <tr>
       <td><label for="breed"> Breed:</label> </td> 
       <td><input type= "text" name="breed"> </td> 
      </tr>
      <tr>
        <td><input type="submit" value="submit"></td>
      </tr>
    </table>
    
    </form>

  <a href="/dogs"> or go back to dogs index  </a>   
  </body>
</html> 