#EDIT FORM (Shelter staff) 

html>
  <head>
    <meta charset="UTF-8" />
    <title>Edit Dog</title>
  </head>
<body>
  <h1>Edit Your Dog </h1>
  <p> Current Dog Details: </p>


<P>  <%= @dog.name %> </P>
<P>  <%= @dog.breed %> </P>
<P>  <%= @dog.age %> </P>
<P>  <%= @dog.shelter %> </P>

  
  <form method="post" action=“/dog/<%=@dog.id%>">
    <input type="hidden" name="_method" value='patch'>
     <h1>Edit :</h1> <br>
    <input type="text" id=“name” name=“name”> <br>
  <input type="text" id=“breed” name=“breed”> <br>
<input type="text" id=“age” name=“age”> <br>
<input type="text" id=“shelter” name=“shelter”> <br>
   <input type="submit" value="submit" id="submit">
   </form>

  <a href="/"> or go back to your list of dogs </a>    #(what is the link?) 
  </body>
</html> 