<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>     

<html>
  <head>
    <meta charset="UTF-8" />
    <title>  DOGS AVAILABLE FOR ADOPTION </title>
  </head>
<body>
  <h1> Dogs Available for Adoption : </h1> </br>
  
  <% @dogs.each do |dog| %>
 <tr> <p>
  <td> NAME:  <%= dog.name %>  </td>
  <td> BREED:  <%= dog.breed %>  </td>
  <td>  AGE: <%= dog.age %>  </td>
 <td> SHELTER:  <%= dog.shelter %> </td>
 <a href='/dogs/<%= dog.id %>/edit'> Edit dog </a>
 
 </p> 
  </tr> 
  </br>
<% end %>


</body>
</html>

