   

<html>
  <head>
    <meta charset="UTF-8" />
    <title> Individual Dog</title>
  </head>
<body>
 
<h1> Meet <%= @dog.name %> </h1> </br>
  
<P> Name: <%= @dog.name %> </P>
<P> Breed: <%= @dog.breed %> </P>
<P> Age: <%= @dog.age %> </P>
<P> Shelter: <%= @dog.shelter %> </P>

<form action="/dogs/<%= @dog.id %>/delete" method="post">
<input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Dog">
</form>
  </br>
 
  <a href='/dogs'> Go back to PUBLIC DOGS INDEX </a>
  </body>
</html> 