#SHOW  individual dog      (public)   

<html>
  <head>
    <meta charset="UTF-8" />
    <title> Individual Dog</title>
  </head>
<body>
 
<h1> Meet <%= @dog.name %> </h1>
  
<P>  <%= dog.name %> </P>
<P>  <%= dog.breed %> </P>
<P>  <%= dog.age %> </P>
<P>  <%= dog.shelter %> </P>
  
 
  <a href=“/dogs”> Go back to PUBLIC DOGS INDEX </a>
  </body>
</html> 